*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(58, 57, 57);

}

h1{
    font-size: 3em;
}

html,body{
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}

header{
    background-color: rgb(12, 12, 12,0.75);
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}
header img{
  filter: invert(100%);
}
header button{
  background: transparent;
  border: none;
  outline: none;
}
.menu-links ul{
    list-style: none;
    display: flex;
    align-items: flex-start;

}

.menu-links ul li{
    margin: 30px;
}

.menu-links ul li a{
    text-decoration: none;
    color: white;
    padding:  0 30px 10px 30px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 500;
  
}

.menu-links ul li a::after{
  content: "";
  background: none repeat scroll 0 0 transparent;
  position: absolute;
  background-color: yellow;
  display: block;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transition: width 0.4s ease-in-out 0s, left 0.4s ease-in-out 0s;

  

}

.menu-links ul li a:hover::after {
	width: 100%;
  left: 0;
}

.menu-mobile{
  display: none;

}

.hamburguer-menu{
  display: none;
  color: white;
  font-size: 3em;
}

.open{
  display: block;

}

/***************************************************************
HOME*/

.home{
    position: relative;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.home::before{
    content: "";
    background-image: url("../imgs/home.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.home-texto {
    position: relative;
    color: #ffffff;  
    line-height: 0.9;
    text-align: center;
  }

  /*****************************************************************************
  PLANOS*/

  .planos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    height: 500px;
}


  .planos {
    
    color: rgb(0, 0, 0);

    
  }

  .planos-all{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .planos-box{
    width: 250px;
    height: 300px;
    background-color: rgb(71, 70, 70);
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0 1em rgb(0, 0, 0);
  }

  .planos-box h2{
    letter-spacing: 2px;
  }

  .planos-box p {
    font-size: 1.2em;
    font-weight: 500;
  }

  /**************************************************************
  Local*/

  .local{
    background-color: black;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }

  .local a{
    background-color: yellow;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
  }

  .local p {
    margin-bottom: 40px;
  }

  .local iframe{
    width: 500px;
    height: 55%;
  }

  /********************************************************
  Espaço*/
  .espaco{
    text-align: center;
    padding: 20px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }

  .espaco hr {
    background-color: gray;
    width: 50%;
    padding: 2px;
    margin-bottom: 50px;
  }

  .espaco-all{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .espaco img{
    width: 400px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
  }

  /*******************************************************
  Rodapé*/

  footer{
    height: 200px;
    background-color: rgb(39, 39, 39);
    border-top: 2px solid gray;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  footer h1{
    font-size: 1em;
    margin-bottom: 5px;

  }

  ::-webkit-scrollbar-track {
    background-color: #352f2f;
}
    ::-webkit-scrollbar {
    width: 15px;

}
    ::-webkit-scrollbar-thumb {
    background: #535252;
    border-radius: 50px;

}



@media (max-width: 1200px){
  html, body{
    overflow-x: hidden;
  }

  .planos{
    height: 100%;
  }  
  .planos-all{
      flex-wrap: wrap;
    }

  .espaco{
      height: 100%;
    }
  .espaco-all{
      flex-wrap: wrap;
    }


}

@media (max-width: 800px){
  footer{
    display: block;
    height: 100%;
    padding: 30px;

  }
  footer div{
    margin-bottom: 30px;
  }
  header{
    justify-content: space-between;
  }
  .menu-links{
    display: none;
  }
  
  .hamburguer-menu{
    display: block;
  }

  .menu-mobile{
    background-color: rgb(12, 12, 12,0.75);
    padding: 20px;


  }

  }
  .menu-mobile ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .menu-mobile ul li{
    margin-bottom: 10px;
  }
  .menu-mobile ul li a{
    text-decoration: none;
    color: white;

  }

@media (max-width:630px){
  .menu-links{
    display: none;
  }

  header{
    justify-content: space-between;

  }
  .hamburguer-menu{
    display: block;
  }
}
@media (max-width:530px){
  h1{
    font-size: 2em;
  }

  .home::before{
    background-position: center center;
  }

  .local{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }

  .local-text{
    margin-bottom: 30px;
  }

  .local iframe{
    width: 300px;
  }


  
}

@media (max-width:390px){
  h1{
    font-size: 1.5em;
  }
  .espaco img{
    width: 250px;
    height: 150px;
  }

  .local iframe{
    margin-top: 70px;
    width: 90%;
    height: 30%;
  }
}